channels
channels-redis
daphne
Django
django-cloudinary-storage
django-cors-headers
django-extensions
django-resized
djangorestframework
djangorestframework-simplejwt
drf-yasg
google-api-python-client
gunicorn
pillow
psycopg2-binary
python-dotenv
requests-oauthlib
six
whitenoise